<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="K3EntitiesADO" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST = 172.18.8.168)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = k3prod_srv))); User Id = KEWILLFWD; Password = fu6rufra" providerName="Oracle.ManagedDataAccess.Client" />

    <!--PROD REPORT-->
    <add name="K35EntitiesADO" connectionString="server=172.24.50.7;user id=k35prod; password =_KLd9Zaa; persistsecurityinfo=True;database=k35prod" providerName=".NET Framework Data Provider for MySQL" />
    <add name="K35DESTEntitiesADO" connectionString="server=172.24.50.7;user id=k35prod; password =_KLd9Zaa; persistsecurityinfo=True;database=k35prod" providerName=".NET Framework Data Provider for MySQL" />



    <!--UAT-->
    <add name="K5UATEntitiesADO" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST = KLSGAWA08SRV013)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = kff))); User Id = kff; Password = GeDXe4uf" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="K35DEVEntitiesADO" connectionString="server=172.24.48.131;user id=k35prod; password =_KLd9Zaa; persistsecurityinfo=True;database=k35prod_03" providerName=".NET Framework Data Provider for MySQL" />


    <!--<add name="K35DESTEntitiesADO" connectionString="server=127.0.0.1;user id=root; password =Abcd1234; persistsecurityinfo=True;database=k35prod" providerName=".NET Framework Data Provider for MySQL" />-->


  </connectionStrings>
  <appSettings>
    <add key="K3DataProvider" value="Oracle.ManagedDataAccess.Client" />
    <add key="K35DataProvider" value="MySql.Data.MySqlClient" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>